<div class="container" id="bg">
		<div class="row">
			<div class="wrapper">
			
			<h1>Food</h1>
			<p>다양한카테고리의<br>맛집을 찾아보세요</p>
		</div>
		<br>
		<br>
		<br>
		</div>
		<div id="main">
			<div class="row" id="Panel">
				<div class="panel">
					<div class="panel-heading">
						<h3 class="panel-title">중식</h3>
					</div>
					<div class="panel-body">
						
						<p>다양한 중식당을 찾고 싶다면...</p>
					</div>
					<div class="panel-footer" id="btFooter">
						<a href="#food1" ng-class="{active:activated=='food1'}" ng-click="activated='food1'"><button class="btn btn-block">자세히보기</button></a>
					</div>
				</div>
				<div class="panel">
					<div class="panel-heading">
						<h3 class="panel-title">한식</h3>
					</div>
					<div class="panel-body">
						
						<p>다양한 한식당을 찾고 싶다면...</p>
					</div>
					<div class="panel-footer" id="btFooter">
						<a href="#food2" ng-class="{active:activated=='food2'}" ng-click="activated='food2'"><button class="btn btn-block">자세히보기</button></a>
					</div>
				</div>
				<div class="panel">
					<div class="panel-heading">
						<h3 class="panel-title">일식</h3>
					</div>
					<div class="panel-body">
						
						<p>다양한 일식당을 찾고 싶다면...</p>
					</div>
					<div class="panel-footer" id="btFooter">
						<a href="#food3" ng-class="{active:activated=='food3'}" ng-click="activated='food3'"><button class="btn btn-block">자세히보기</button></a>
					</div>
				</div>
			</div>
			<br>
			<br>
			<br>
			<div class="panel">
					<div class="panel-heading">
						<h3 class="panel-title">오늘의 맛집</h3>
					</div>
					<div class="panel-body">
						
						<p>오늘 가볼만한 추천맛집을 소개합니다</p>
					</div>
					<div class="panel-footer" id="btFooter">
						<a href="#food4" ng-class="{active:activated=='food4'}" ng-click="activated='food4'"><button class="btn btn-block">자세히보기</button></a>
					</div>
				</div>
				<br>
				<br>
				<br>
				<br>
				<div class="panel">
					<div class="panel-heading">
						<h3 class="panel-title">서울 미슐랭</h3>
					</div>
					<div class="panel-body">
						
						<p>서울 미슐랭가이드에 나온 맛집을을 소개합니다</p>
					</div>
					<div class="panel-footer" id="btFooter">
						<a href="#food4" ng-class="{active:activated=='food4'}" ng-click="activated='food4'"><button class="btn btn-block">자세히보기</button></a>
					</div>
				</div>
				
			</div>
		</div>
		
	</div>