<div class="container" id="bg">
  <div class="row" id="foodheader">
    <h1><strong>맛집</strong></h1>
    <h1>한식<br><a href="#food" ng-click="activated='food'" ng-class="{active:activated=='food'}">카테고리</a>입니다<br />
    </h1>
  </div>
  <hr>
  <div class="row" id="foodmain" >
    <div class="thumbnails">
      <div>
        <a href="../images/fullfood2/01.jpg">
          <img src="../images/food2/01.png" alt="" />
          <h3>아미소</h3>
        </a>
        <a href="../images/fullfood2/02.png">
          <img src="../images/food2/02.png" alt="" />
          <h3>한미리</h3>
        </a>
      </div>
      <div>
        <a href="../images/fullfood2/03.png">
          <img src="../images/food2/03.png" alt="" />
          <h3>달개비</h3>
        </a>
        <a href="../images/fullfood2/04.png">
          <img src="../images/food2/04.png" alt="" />
          <h3>시화당</h3>
        </a>
        <a href="../images/fullfood2/05.png">
          <img src="../images/food2/05.png" alt="" />
          <h3>진사댁</h3>
        </a>
      </div>
  </div>
</div>
    <script>

     $(function() {
      $('.thumbnails').poptrox({
        usePopupCaption: false,
        usePopupNav: true,
        popupPadding: 0
      });
    });
    </script>