<div>
	<div class="jumbotron">
		<h1>Welcome</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
		<p style="text-align: right"><a class="btn btn-default btn-lg" href="#info" role="button">Learn more</a></p>
	</div>


	<div class="col-sm-6 col-md-4">
		<div class="thumbnail">
		  <img src="/images/TravelImages/images08.jpg" style="width:400px; height:150px"/>
		  <div class="caption">
		    <h3 style="margin-top:2px">travel</h3>
		    <p>한국인들이 선호하는 유럽 여행지 Top3...</p>
		    <p style="text-align: right"> <a href="#travel" class="btn btn-default" role="button">Learn more</a></p>
		  </div>
		</div>
	</div>

	<div class="col-sm-6 col-md-4">
		<div class="thumbnail">
		  <img src="/images/1/8.jpg"/>
		  <div class="caption">
		    <h3 style="margin-top:2px" style="width:400px; height:150px">IT</h3>
		    <p>IT 관련 이미지를 여러가지 슬라이드...</p>
		    <p style="text-align: right"> <a href="#it" class="btn btn-default" role="button">Learn more</a></p>
		  </div>
		</div>
	</div>

	<div class="col-sm-6 col-md-4">
		<div class="thumbnail">
		  <img src="/images/1/000.jpg"/>
		  <div class="caption">
		    <h3 style="margin-top:2px" style="width:400px; height:150px">food</h3>
		    <p>보기에도 좋고 맛도 좋은 식사를 합시다...</p>
		    <p style="text-align: right"> <a href="#food" class="btn btn-default" role="button">Learn more</a></p>
		  </div>
		</div>
	</div>

	<div class="col-sm-6 col-md-4">
		<div class="thumbnail">
		  <img src="/images/1/001.jpg"/>
		  <div class="caption">
		    <h3 style="margin-top:2px" style="width:400px; height:150px">board</h3>
		    <p>회원가입 후 게시판을 작성해 보세요...</p>
		    <p style="text-align: right"> <a href="#table" class="btn btn-default" role="button">Learn more</a></p>
		  </div>
		</div>
	</div>

	<div class="col-sm-6 col-md-4">
		<div class="thumbnail">
		  <img src="/images/1/002.jpg"/>
		  <div class="caption">
		    <h3 style="margin-top:2px" style="width:400px; height:150px">join</h3>
		    <p>회원가입 후 홈페이지를 즐겨보세요...</p>
		    <p style="text-align: right"> <a href="#signUp" class="btn btn-default" role="button">Learn more</a></p>
		  </div>
		</div>
	</div>

	<div class="col-sm-6 col-md-4">
		<div class="thumbnail">
		  <img src="/images/1/003.jpg"/>
		  <div class="caption">
		    <h3 style="margin-top:2px" style="width:400px; height:150px">info</h3>
		    <p>홈페이지에 대한 정보를 더 알고싶으시면...</p>
		    <p style="text-align: right"> <a href="#info" class="btn btn-default" role="button">Learn more</a></p>
		  </div>
		</div>
	</div>
</div>