
   <!--가운데 contants -->
   <!-- 맛집란 소개 -->
  <div class="text-left info" id="mainContents"> 
    <div class="jumbotron" id="info">
      <h3 class="text-center">여행</h3> 
      <p class="text-center">여행에 필요한 항공 ,호텔 , 여행일정 에 관한 다양한 정보를 이용하세요</p>
      <p class="text-center"><a href="#" class="btn btn-primary btn-lg" role="button">자세히 알아보기</a></p>
    </div>
    <br/>
    <br/>
    <div class="row" >
      <div class="col-sm-4 ">
        <h4 class="text-center">쉽고 빠르게 여행일정을 짜고 싶다면</h4>
          <p>큰 맘 먹고 떠나는 해외여행 짧은 시간을 알차게 보내고싶으면 반드시 여행일정을 짜야합니다 여행일정을 쉽게 정할수있습니다</p>
          <p class="text-center"><a class="btn btn-info" href="#">자세히 알아보기</a></p>
      </div>
      <div class="col-sm-4">
        <h4 class="text-center">무료 가이드 북이 필요하다면</h4>
        <p>여행지 지식이 없어도 무료 가이드 북을 내려받을수있습니다 </p>
        <p class="text-center"><a class="btn btn-info" href="#">자세히 알아보기</a></p>
      </div>
      <div class="col-sm-4">
        <h4 class="text-center">가장 좋은 비행기 좌석을 알고싶다면</h4>
        <p>요즘은 항공권을 구매하면 온라인에서 직접 좌석까지 선택할수 있는데요.어차피 같은가격 에 좋은 자리를 얻을수있습니다 </p>
        <p class="text-center"><a class="btn btn-info" href="#">자세히 알아보기</a></p>
      </div>
    </div>
      <br>
      <br>
      <br>
    <div class="row">
      <div>
        <p class="text-center"><a class="btn btn-success btn-lg" data-target="#modal" data-toggle="modal">여행 애플리케이션 </a></p>
      </div>
    </div>
    <br>
    <hr class="half-rule">
    <!-- IT란소개 -->
    <div class="jumbotron">
      <h1 class="text-center">IT</h1>
      <p class="text-center">웹상의 무수히 많은 놀라운 사이트들이 부트스트랩으로 만들어져 있습니다. 늘어가는 예제 모음 으로 당신의 것을 시작하거나 전시된 사이트를 구경하세요.</p>
    </div>

    <div class="row">
      
      <div class="col-xs-6 col-sm-3">
        <a href="http://expo.getbootstrap.com/2014/10/29/lyft/" target="_blank" title="Lyft"><img src="http://expo.getbootstrap.com/thumbs/lyft-thumb.jpg" alt="Lyft" class="img-responsive">
        </a>
      </div>
      
      <div class="col-xs-6 col-sm-3">
        <a href="http://expo.getbootstrap.com/2014/09/30/vogue/" target="_blank" title="Vogue"><img src="http://expo.getbootstrap.com/thumbs/vogue-thumb.jpg" alt="Vogue" class="img-responsive">
        </a>
      </div>
      
      <div class="col-xs-6 col-sm-3">
        <a href="http://expo.getbootstrap.com/2014/03/13/riot-design/" target="_blank" title="Riot Design"><img src="http://expo.getbootstrap.com/thumbs/riot-thumb.jpg" alt="Riot Design" class="img-responsive">
        </a>
      </div>
      
      <div class="col-xs-6 col-sm-3">
        <a href="http://expo.getbootstrap.com/2014/02/12/newsweek/" target="_blank" title="Newsweek"><img src="http://expo.getbootstrap.com/thumbs/newsweek-thumb.jpg" alt="Newsweek" class="img-responsive">
        </a>
      </div>
    </div>
    <br/>
    <br/>
    <hr class="half-rule">
    <br/>
    <br/>
    <!-- 맛집란 소개 -->
    <div class="jumbotron">
      <h1 class="text-center">맛집</h1>
      <p class="text-center">맛집과 요리정보가 가득!<br>다양한 맛있는정보를 얻어가세요</p>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <h3 class="text-center">다양한 카테고리</h3>
        <p>갸격, 나라별 음식, 취향에따른 다양한 카테고리 정보를 얻을수있습니다</p>
        <p class="text-center"><a class="btn btn-info" href="#">자세히 알아보기</a></p>
      </div>
      <div class="col-sm-4 ">
        <h3 class="text-center">랭킹별 맛집</h3>
          <p>어떤 말로 검색해도 한눈에 랭킹을 볼 수 있습니다. 당신만의 키워드를 찾아보세요.</p>
          <p class="text-center"><a class="btn btn-info" href="#">자세히 알아보기</a></p>
      </div>
      <div class="col-sm-4 ">
        <h3 class="text-center">지역별 맛집</h3>
          <p>믿을 수 있는 맛집 랭킹을 제공합니다. 이제 어디에 있든 우리 동네인 듯 맛있는 식당을 찾아보세요.</p>
          <p class="text-center"><a class="btn btn-info" href="#">자세히 보기</a></p>
      </div>
    </div>
    <br>
    <br>
    <div class="jumbotron">
      <h1 class="text-center">Info</h1>
      <p class="text-center">다양한 카테고리의<br>좋은정보를 얻어가세요</p>
    </div>

<!--모달 -->
<div class="row">
  <div class="modal" id="modal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          스마트 투어가이드
          <button class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body" style="text-align: center;">
          여행에관한 다양한 정보를 얻을수있습니다<br/><br/>
          <img src="images/smt.png" style="width: 256px; height: 256px;" >
        </div>
        <div class="modal-footer">
          <a href="https://play.google.com/store/apps/details?id=kto.smarttour&hl=ko&rdid=kto.smarttour" class="btn btn-info" >다운로드</a>
        </div>
      </div>
    </div>
  </div>
</div>
