<div class="container">
        <h3 style="color: #337ab7">게시판</h3>
 	<table class="table table-condensed">
 		<thead>
 			<tr>
 				<th>번호</th>
 				<th>제목</th>
 				<th>작성자</th>
 				<th>날짜</th>
 				<th>조회수</th>
 			</tr>
 		</thead>
 		<tbody>
 			<tr>
 				<td>165</td>
 				<td>가입할게요</td>
 				<td>김구라</td>
 				<td>2017.11.11</td>
 				<td>2</td>
 			</tr>
 			<tr>
 				<td>164</td>
 				<td>가입</td>
 				<td>주뎅이</td>
 				<td>2017.11.10</td>
 				<td>10</td>
 			</tr>
 			<tr>
 				<td>163</td>
 				<td>등업좀</td>
 				<td>원숭이</td>
 				<td>2017.11.9</td>
 				<td>20</td>
 			</tr>
            <tr>
                <td>163</td>
                <td>등업좀</td>
                <td>원숭이</td>
                <td>2017.11.9</td>
                <td>20</td>
            </tr>
            <tr>
                <td>163</td>
                <td>등업좀</td>
                <td>원숭이</td>
                <td>2017.11.9</td>
                <td>20</td>
            </tr>
            <tr>
                <td>163</td>
                <td>등업좀</td>
                <td>원숭이</td>
                <td>2017.11.9</td>
                <td>20</td>
            </tr>
            <tr>
                <td>163</td>
                <td>등업좀</td>
                <td>원숭이</td>
                <td>2017.11.9</td>
                <td>20</td>
            </tr>
            <tr>
                <td>163</td>
                <td>등업좀</td>
                <td>원숭이</td>
                <td>2017.11.9</td>
                <td>20</td>
            </tr>
            <tr>
                <td>163</td>
                <td>등업좀</td>
                <td>원숭이</td>
                <td>2017.11.9</td>
                <td>20</td>
            </tr>
            <tr>
                <td>163</td>
                <td>등업좀</td>
                <td>원숭이</td>
                <td>2017.11.9</td>
                <td>20</td>
            </tr>
            <tr>
                <td>163</td>
                <td>등업좀</td>
                <td>원숭이</td>
                <td>2017.11.9</td>
                <td>20</td>
            </tr>
            <tr>
                <td>163</td>
                <td>등업좀</td>
                <td>원숭이</td>
                <td>2017.11.9</td>
                <td>20</td>
            </tr>
            <tr>
                <td>163</td>
                <td>등업좀</td>
                <td>원숭이</td>
                <td>2017.11.9</td>
                <td>20</td>
            </tr>
            <tr>
                <td>163</td>
                <td>등업좀</td>
                <td>원숭이</td>
                <td>2017.11.9</td>
                <td>20</td>
            </tr>
 		</tbody>
 	</table>
    <hr/>
    <div class="list-unstyled">
         <li ng-class="{active:activated=='write'}"><a href="#write" ng-click="activated='write'"><span class="glyphicon glyphicon-log-in"></span> Write</a></li>
    </div> 
    <div class="text-center">
    	<ul class="pagination">
            <li><a href="#table">&laquo;</a></li>
    		<li><a href="#table">1</a></li>
    		<li><a href="#table">2</a></li>
    		<li><a href="#table">3</a></li>
    		<li><a href="#table">4</a></li>
    		<li><a href="#table">5</a></li>
            <li><a href="#table">&raquo;</a></li>
    	</ul>
    </div>
</div>
