    <div id="Travel" class="text-left container">
      <span class="image main"><img width="100%" src="images/pro01.jpg" alt="" /></span>
        <h3>한국인들이 선호하는 유럽 여행지 Top3</h3>
        <hr/>
        <h4>누구나 한 번쯤은 아름다운 유럽으로 여행을 떠나고 싶을 것이다. 수많은 박물관들과 유적지, 풍경 그리고 다채로운 음식들까지. 많은 유럽 지역들 중 한국인들이 가장 선호하는 여행지들은 어디일까? 스카이스캐너에서 조사한 유럽의 선호 여행지들을 소개한다.</h4><br>
        <h5>1. 파리</h5>
        <p>한국인들이 가장 많이 검색한 여행지 1위로 뽑힌 파리는 유럽 여행을 이야기할 때 빼놓을 수 없는 곳이다. 낭만의 도시 파리에는 에펠탑과 몽마르뜨 언덕, 루브르 박물관 등 볼거리들이 매우 다양하다. 또한, 미식의 나라답게 맛있는 음식과 디저트들이 가득하니 많이 걸었는데도 살이 찐다고 이상하게 생각하지 말자. 영화 '미드나잇 인 파리'의 주인공이 되어 파리를 탐험해보자.</p>
        <a href="https://www.skyscanner.co.kr/flights-to/pari/cheap-flights-to-paris.html"
        class="btn btn-primary">파리 항공권 가격 보기</a><br>
            <!-- carousel 영역 -->
          <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="2000">
              <!-- Carousel 하단의 동그란 nav 요소  -->
              <ol class="carousel-indicators">
                <!-- data-target="Carousel 전체의 선택자" 
                data-slide-to="컨텐츠 인덱스" -->
                <li data-target="#myCarousel" data-slide-to="0"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
              </ol>
              <div class="carousel-inner">
                <div class="item active">
                  <img src="images/TravelImages/images01.jpg"/>
                </div>
                <div class="item">
                  <img src="images/TravelImages/images02.jpg"/>
                </div>
                <div class="item">
                  <img src="images/TravelImages/images03.jpg"/>
                </div>
              </div>
              <!-- 이전, 다음 control UI -->
              <a href="#myCarousel" class="left carousel-control" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">이전</span>
              </a>
              <a href="#myCarousel" class="right carousel-control" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">다음</span>
              </a>
            </div>
        <!--  -->
        <hr>
        <h5>2. 런던</h5>
        <p>스카이스캐너에서 조사한 결과, 신사의 나라 영국은 선호하는 유럽 여행지 2위로 뽑혔다. 템즈강을 끼고 있는 런던에서 튜브를 타고 다니다 보면 문득 서울을 여행하고 있는 기분이 들 것이다. 물론 좀 더 고풍스러운 서울 말이다. 세계 최초의 지하철이 만들어진 런던답게 대중교통이 잘 발달하여있어 여행을 하는 데 어려움 없이 코벤트 가든, 트라팔가 광장, 웨스트민스터, 런던 아이 등 런던의 랜드마크들을 구경할 수 있다. 단, 조심해야 할 것은 런던의 살인적인 물가. 소비를 잘 계획하여 현명한 여행을 떠나보자.</p>
        <a href="https://www.skyscanner.co.kr/flights-to/lond/cheap-flights-to-london.html"
        class="btn btn-primary">런던 항공권 가격 보기</a><br>
            <!-- carousel 영역 -->



         <div id="myCarousel2" class="carousel slide" data-ride="carousel" data-interval="2000">
              <!-- Carousel 하단의 동그란 nav 요소  -->
              <ol class="carousel-indicators">
                <!-- data-target="Carousel 전체의 선택자" 
                data-slide-to="컨텐츠 인덱스" -->
                <li data-target="#myCarousel2" data-slide-to="0"></li>
                <li data-target="#myCarousel2" data-slide-to="1"></li>
                <li data-target="#myCarousel2" data-slide-to="2"></li>
              </ol>
              <div class="carousel-inner">
                <div class="item active">
                  <img src="images/TravelImages/images04.jpg"/>
                </div>
                <div class="item">
                  <img src="images/TravelImages/images05.jpg"/>
                </div>
                <div class="item">
                  <img src="images/TravelImages/images06.jpg"/>
                </div>
              </div>
              <!-- 이전, 다음 control UI -->
              <a href="#myCarousel2" class="left carousel-control" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">이전</span>
              </a>
              <a href="#myCarousel2" class="right carousel-control" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">다음</span>
              </a>
            </div>
        <!--  -->
        <hr>
        <h5>3. 바르셀로나</h5>
        <p>스페인의 아름다운 해안 도시인 바르셀로나는 3번째로 떠나고 싶은 여행지로 꼽혔다. 지중해에 인접하여 해변에서 여유를 즐기는 것도 바르셀로나를 즐기는 방법이지만, 스페인의 건축가 안토니오 가우디가 남긴 건축물들을 따라 여행하는 것도 추천한다. 곡선과 강렬한 색채가 인상적인 가우디의 건축물들이 바르셀로나에 가득하기 때문. 구엘궁전, 까사 비센스, 라 페드레라, 사그라다 파밀리아 성당 등 독특하면서도 압도적인 인상을 주는 건축물들을 본다면 카메라를 내려놓을 새가 없을 것이다. 또한, FC 바르셀로나의 홈경기장인 캄프 누를 빼놓을 수 없다. 경기를 보지 못하더라도 경기장만 구경하는 재미도 쏠쏠하다.</p>
        <a href="https://www.skyscanner.co.kr/flights-from/bla/cheap-flights-from-barcelona-airport.html"
        class="btn btn-primary">바르셀로나 항공권 가격 보기</a><br>
            <!-- carousel 영역 -->


            <div id="myCarousel3" class="carousel slide" data-ride="carousel" data-interval="2000">
              <!-- Carousel 하단의 동그란 nav 요소  -->
              <ol class="carousel-indicators">
                <!-- data-target="Carousel 전체의 선택자" 
                data-slide-to="컨텐츠 인덱스" -->
                <li data-target="#myCarousel3" data-slide-to="0"></li>
                <li data-target="#myCarousel3" data-slide-to="1"></li>
                <li data-target="#myCarousel3" data-slide-to="2"></li>
              </ol>
              <div class="carousel-inner">
                <div class="item active">
                  <img src="images/TravelImages/images07.jpg"/>
                </div>
                <div class="item">
                  <img src="images/TravelImages/images08.jpg"/>
                </div>
                <div class="item">
                  <img src="images/TravelImages/images09.jpg"/>
                </div>
              </div>
              <!-- 이전, 다음 control UI -->
              <a href="#myCarousel3" class="left carousel-control" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">이전</span>
              </a>
              <a href="#myCarousel3" class="right carousel-control" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">다음</span>
              </a>
            </div>
        <hr>
    </div>
