<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="users">
	<!-- 회원 가입 -->
	<insert id="insert" parameterType="test.users.dto.TB_USERDto">
		INSERT INTO TB_USER
		(name,id,password,is_admin,phone_no,regdate,email)
		VALUES(#{name}, #{id}, #{password}, #{is_admin}, #{phone_no}, SYSDATE, #{email})
	</insert>
	
	<!-- 목록 -->

	<select id="getList" resultType="test.users.dto.TB_USERDto">
		SELECT name,a.id,password,phone_no,regdate,email,orgFileName,saveFileName,fileSize
		FROM TB_USER a
		LEFT OUTER JOIN TB_FILE b
		ON a.id=b.id
		
		WHERE 1=1 
		<if test="is_admin eq 'N'.toString()">
	      AND a.id = #{id}
	      
	    </if>
	     AND is_admin='N'
	</select>
	
	<!-- 로그인 -->
	<select id="isValid" parameterType="test.users.dto.TB_USERDto"
		resultType="string">
		SELECT id
		FROM TB_USER
		WHERE id=#{id} AND password=#{password}
	</select>
	
	<!-- 한명의 정보 리턴 -->
	<select  id="getData" parameterType="String" resultType="test.users.dto.TB_USERDto">
		SELECT name,a.id,password,phone_no, is_admin, regdate,email, saveFileName
		FROM TB_USER a
		LEFT OUTER JOIN TB_FILE b
		ON a.id=b.id
		WHERE a.id=#{id}
		
	</select>
</mapper>













