
<!DOCTYPE html>
{% load staticfiles %}
{% load socialaccount %}
{% load account %}
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title> Stock Analysis | {% block title %}{% endblock %}</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static '/vendor/bootstrap/css/bootstrap.css' %}" rel="stylesheet">
    
    <link href="{% static '/form/bootstrap.min.css' %}" rel="stylesheet">


    <!-- MetisMenu CSS -->
    <link href="{% static '/vendor/metisMenu/metisMenu.min.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static '/dist/css/sb-admin-2.css' %}" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="{% static '/vendor/morrisjs/morris.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static '/vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">



</head>

<body>

    <div id="wrapper">


{% block top_sidebar %}
{%include "top_sidebar.html"%}
{% endblock %}
{% block sidebar %}
{%include "sidebar.html"%}
{% endblock %}
           

        <!-- Page Content -->
        <div id="page-wrapper">
            {% block content %}
            {% endblock %}
        </div>
        <!-- /#page-wrapper -->

        <!-- jQuery -->

        <script src="{% static '/vendor/jquery/jquery.min.js' %}"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="{% static '/vendor/bootstrap/js/bootstrap.min.js' %}"></script>

        <!-- Metis Menu Plugin JavaScript -->
        <script src="{% static '/vendor/metisMenu/metisMenu.min.js' %}"></script>

        <!-- Custom Theme JavaScript -->
        <script src="{% static '/dist/js/sb-admin-2.js' %}"></script>

        <!-- Morris Charts JavaScript -->
        <script src="{% static '/vendor/raphael/raphael.min.js' %}"></script>
        <script src="{% static '/vendor/morrisjs/morris.min.js' %}"></script>
        <script src="{% static '/data/morris-data.js' %}"></script>

        <!-- Flot Charts JavaScript -->
        <script src="{% static '/vendor/flot/excanvas.min.js' %}"></script>
        <script src="{% static '/vendor/flot/jquery.flot.js' %}"></script>
        <script src="{% static '/vendor/flot/jquery.flot.pie.js' %}"></script>
        <script src="{% static '/vendor/flot/jquery.flot.resize.js' %}"></script>
        <script src="{% static '/vendor/flot/jquery.flot.time.js' %}"></script>
        <script src="{% static '/vendor/flot-tooltip/jquery.flot.tooltip.min.js' %}"></script>
        <script src="{% static '/data/flot-data.js' %}"></script>
        <script src="{% static '/form/angular.js' %}"></script>
    </body>

    </html>
